{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">

<h2 class="mb-4">Nuevo Pedido</h2>

<form method="post" onsubmit="return confirmarPedido()">

{% csrf_token %}

<div class="row">

{% for p in productos %}

<div class="col-md-4">

<div class="card p-3 mb-3 shadow-sm">

<h4>{{ p.nombre }}</h4>

<p>
Stock:
<span class="badge bg-primary">
{{ p.stock }}
</span>
</p>

<p>
Limite:
<span class="badge bg-secondary">
{{ p.limite }}
</span>
</p>

<input
name="{{ p.id }}"
type="number"
class="form-control"
min="0"
max="{{ p.stock }}"
placeholder="Cantidad"
data-stock="{{ p.stock }}"
onchange="validarCantidad(this)"
>

</div>

</div>

{% empty %}

<div class="alert alert-warning">
No hay productos disponibles
</div>

{% endfor %}

</div>

<button class="btn btn-primary mt-3">
Confirmar Pedido
</button>

</form>

</div>

{% endblock %}